<!DOCTYPE html>
<body>
<style>
  h1 {color: white;
      font-family: algerian;
      font-size: 300%;
      text-align: center;
      border: 10px solid green;
      padding: 20px;
      margin-left: 350px;
      margin-right:350px;
  }
  h2 {color:white;
      font-family: mistral;
      font-size: 270%;
      text-align: center;
  }
  img {display: block;
       margin-right: auto;
       margin-left: auto;
  }
  pre {color: white;
      font-family: sitka;
      font-size: 150%;
      text-align: center;
  }
  p {color: white;
     font-family: sitka;
     font-size: 100%;
    text-align: left;
  }
  ins {color:white;
       font-family: sitka;
       font-size: 130%;
  }
  
  body {background-color: black;}
  
</style>

<%= link_to 'Home', root_path %>
  <h1>
    Welcome To My Mind
  </h1>
  <br>
  <br>
  <h2>
    Free-verse Lyrics
  </h2>
  <pre>
    <ins>No More Excuses</ins> 
    <br>
    It's a treacherous line that I walk 
    Don't talk a big talk, but sometimes I block my own mind from designin' at its prime 
    'Cause I know I must've missed somethin' when things don't align 
    I rummage through details with a fine tooth comb to see where and at what point all of it went wrong 
    Patterns and signs appear real when I'm manic then when I'm lucid they done vanished and gone 
    I had me a week but don't take me for weak just 'cause lines blur don't mean the future’s bleak 
    I came here to conquer I'm back on my feet, so take the back seat while I check off these feats 
    And I won't need proof I ain't keeping receipts hustle speak for itself haters read it and weep 
    But I ain't got haters it's just you and me we ain't one and the same- split pers'nalities 

    Jammin’ to imaginary beats on loop in my head like organic symphonies
    Hallucinatin’ innovative literary feats clouds o’ smoke like a chimney 
    I ain’t be smokin’ my lyrics be tokin’ on fire inspired by divinity
    My fluidity, agility n a touch o’ humility broke off these chains of captivity
    No longer an insecure prisoner wishin’ for list’ners to help remove ligatures
    It was signature, as the anger I built up inside that left a taste in my mouth sour as vinegar 
    No more excuses that bullshit is useless I’m back with a stone-face like I seen Medusa’s
   </pre>
  <h2>
  Short Stories
  </h2>
  <p>
  <ins>Work in Progress</ins>
  <br><br>
	The snow has been falling for what seems to be days now.  Though in truth I have no real idea; after 48 hours without sleep I’ve been unable to keep precise records of even such a menial task as this.  The few remaining provisional hues of golden sunlight peeking over the western mountain peaks tinge the horizon as if they are telling me not to worry, that they’ll be back in the morning.  They bring with them a nuance of hope, even if I choose not to acknowledge their significance.  The Bristlecone Pine forest that surrounds my cabin wears a disguise of frozen water droplets, dense like clouds descended from the sky above, frozen in time.  They shimmer as they move in the wind, as if they are courting for partners during the upcoming spring.  Most of the window, from the sill about halfway up, is covered by the unforgiving downpour, forcing me to sit entirely upright in my favorite reclining chair.  My car parked not ten feet outside from the window is no longer discernable to the inattentive eye; it lies in wait underneath the heavy blanket of white snow until I am able to escape this prison I have wandered into- as if it ever had a choice to go anywhere in the first place… While I stare on the wonderfully whimsical winter landscape I can not help but feel that the environment and its inhabitants can sense my anxiety in this precarious series of events I have found myself intertwined in.  The revitalizing aroma of the freshly opened can of coffee fills the cabin, creeping up my nostrils, evoking memories of a seemingly imaginary, yet ever so macabre past.  With each inhale the already vivid visions become increasingly lucid.  There is a black door in front of me with no knob, only a series of five locks, beckoning me to open it, illuminated by an aura of brilliant and blinding lights whose colors I cannot accurately describe.  All are one, yet they appear to act as separate entities, spirits, whispering unfamiliar yet important instructions I am to carry out. They instruct me to deliver to them five species of plants that will act as keys to the locks in the door.  Five plants, but they do not tell me what they are or where to find them- perhaps they did, and I just didn’t know it at the time. I notice there are faces in a circle around me though they say nothing and are staring intensely at the door in anticipation of what lies on the other side.  As I reach for my journal to record the spirits’ instructions - sticky and moist from my clammy palms and the resin from the mapacho cigarette being passed around- a log in the cabin fireplace crackles loudly, releasing a fiery ember which strikes the back of my hand, bringing me back to my view of the now entirely invisible landscape; encapsulated by the treacherous frozen water.  
  <br><br>
  I stand up from the brown leather recline chair and crack my neck from one side to the other.  This headache doesn’t seem it will ever leave me.  Shivering from lack of movement, I grab my coat and gloves from off the stone slab floor where I’d tossed them after returning from my last night trek to the cave entrance.  Slipping them on as I walk to the kitchen I remember I hadn’t started my coffee yet.  No wonder my mind was so freely wandering.  I grab the bucket of water I’d collected as snow the day before and start filling the coffee pot.  What was that I had seen? Why is it that I still see those toxic yellow, blood shot eyes with irises black as a starless night sky staring at me, even though all I see is the constant pounding of snow as it falls onto the once lush and bountiful garden outside of my kitchen window? I try to look away, but no matter where I position my gaze, the eyes follow mine, reappearing as if they are only inches in front of mine.  The hood of the tall, cadaverous and mysterious figure mask it’s face, leaving only the eyes to be seen in the reflection of the moonlight bouncing off the frozen grounds surface at the entrance of the cave.  But how can the water have been frozen if I am hearing it running now? 
  <br><br>
  “Damnit!” 
  <br><br>
  Caught deep in my thoughts I let the water overflow, running my entire supply for the day down the drain into the earth.  I wouldn’t dare walk outside now either, not until the sun rises once again.  
  <br><br>
  <i>“Well, at least I have enough for a full pot of coffee…”</i> I think to myself, <i>“four cups should do for now, don’t you think?”</i>
  <br><br>
  I began to pour the water into the stove top coffee maker making sure not to spill any water; conservation is key.  I turned the knob on the range and placed my mug in front of me when suddenly a series of five rapid and boisterous knocks at the front door shook the cabin.  Startled, my hand jolted as I turned toward the door in an attempt to grasp the countertop and duck out of any sight, sending my mug crashing to the ground, shattering loudly into a seemingly innumerable number of ceramic shards- along with it the illusion of a vacant mountain-top cabin.  
  <br><br>
  “So much for pretending not to be at home.” 
  <br><br>
  Approaching the door, my steps are abnormally cautious and irregular, long tip-toeing strides with my arms reaching far out in front of me and behind me, my head and neck shrunken into my shoulders, as if I am under the influence of a strong hallucinogen, trying to avoid being seen by any number of entities not known to this world.  Grabbing my 9-mm handgun from the wall next to the front door—the tomahawk or the longbow didn’t seem very useful in such a situation— and pressing it against the door I ask, “Who’s there?”  “It’s me dumbass! Open up I’m freezing!”  The familiar voice brought a sense of peace I hadn’t experienced since moving to these isolated mountains; that is until I began having these visions again, and that mysterious figure reappeared last night.  I place the pistol back onto the wall, looked down and shook my head grinning.
  <br><br>
  Unlocking the door locks I swung the door open and her warm smile was the most welcoming greeting I’d received since arriving here.  “Hello Alice, I didn’t think you’d actually make it.” “Have I ever lied to you about anything, Edward?” “Well… no, I suppose not; but then again I was told once that the grass is always greener on the other side, and it’s been white here for the last… well I don’t even know how long it’s been because I don’t have a calen-”, “Edward!”, she interrupted, “I’ve driven for near a weeks time to get here, and my extremities are about to become frost bitten.  Y’mind if we continue this conversation inside, preferably next to the fire?” “Of course! Excuse my ranting we don’t get many visitors around here.”
  <br><br>
  “We?” Alice curiously inquired “Who else you have hiding out in this outlandish place with you?”
  <br><br>
  “Did I say we? I meant I; just glad to see you” I replied quickly. I gave her a tight hug and took her coat, hanging it on the rack next to the windows facing the driveway.  As I turned to walk back towards the kitchen I caught in the corner of left eye a glimpse of a silhouette perched on a tree limb a few yards outside- the snow seemed to be showing compassion for Alice, for it had slowed upon her arrival.
  <br><br>
  It was a white owl with patches of black feathers. Its wings were outspread as if it were about to dive down on an unsuspecting prey, but our eyes were locked as if in a game of chicken; neither of us willing to cower and look away.  My breath became shallow, and a bead of sweat rolled from my eyebrow into my eye.  I blinked and suddenly the owl became the hooded figure I had seen last night at the cave and shrieked a soul taking noise- the same one I had heard all those years ago.  With incredible speed it suddenly appeared in front of the window, motionless, breathing onto the window leaving condensation.  Gripped with a paralyzing fear I stumbled backward and onto the corner table displaying my only remaining pictures of my parents- my only visual references into the minds of the people who’d helped shape my worldview. “What the fuck?..” I uttered under my shaky, nervous breath, staring out the window in a paranoid trance unable to move from the pile of rubble I had collapsed into.  Looking out window and back at the limb, the owl was sitting cleaning its wings.  It reestablished eye contact with me, and shrieked as it flew off into the snow painted moonlit night sky.
  <br><br>
  “What the hell happened?” Alice asked bolting into the room.
  <br><br>
  “Nothing, I’m fine…” I replied, “I just didn’t sleep last night- clumsy me.” 
  <br><br>
  The last thing I wanted to do was bring her into my nightmare; at least not until I could gather a greater understanding of this unmistakably maniacal amalgam of a mystery I had meddled myself into. 
  <br><br>
  “Coffee?” I asked weakly. 
  <br><br>
  “Truly… I thought you’d never ask.” 
  </p>
  <br>
  <p>
  <ins>Zombies, Run</ins>
  <br><br>
  I awoke suddenly, jolted from my sleep as I slid from my resting place against the tall swaying aspen toward the forest floor. The sun was only just ascending over the horizon, but I'd been running for days. Bogged down by fatigue, I'd fallen asleep before replacing the batteries in my coms headset. After fumbling through my bag for a brief moment, I found the batteries and replaced them. Not knowing what awaits me at Able Township, I put on my headset, closed my eyes, took a deep breath, and turned the switch to the "on" position. 
  <br><br>
  "Well if it ain't a ghost I'm seeing I reckon you're still alive and well- unless zombs can use technology now". 
  <br><br>
  "It's good to see you Mr. Yao; Dr. Margaret" 
  <br><br>
  "Runner Five! We can save the celebrations of our reunion for when you return to the Township. For now, you've a pack of newly made undead about a quarter click northwest of your position. In other words, do what you do best... Run!" 
  </p>
  <br><br>
  <h2>
  Poetry
  </h2>
  <pre>
  <ins>Echo</ins>
  The winds are chilled 
  The night sky black
  All Hallows’ eve 
  Old ghosts brought back
  Spells read aloud
  Magic cast to unite
  The living and dead
  For a night of delight
  Though amidst the splendor
  Of cucurbitaceous ales 
  One soul in particular
  Longed for answers unveiled
  Now every year I return
  On this hallowed eve 
  Wish a mission to bring
  One lone soul reprieve 
  And it seems that for this soul
  This year that’ll be me 
	</pre>
	<pre>
	<ins>Untitled</ins>
	<br>
	They will see the vast beds of white roses
	Symbols of refusal to cower and be ushers
	Of anyone who neglects and opposes the
	Just treatment of our sisters and brothers
	Anyone whose blatant ignorance imposes
	Suffering and violence onto others
	Anyone who through bigotry supposes
	Their way of life is superior and smothers
	Another's way of life until it decomposes
	Anyone that now they've their druthers
	Capitulates to fear and their hate exposes
	The ethnocentrism hidden under buffers
	Lying dormant until now no longer froze
	Mere prose will no longer suffice to uncover
	Dispose and depose anyone who forgoes
	Those who seek a tomorrow where woes
	Enzymatically stimulate a global flutter
	End oppression gather courage and muster
</pre>
	
</body>