<!DOCTYPE html>
<body>
<style>
  h1 {color: white;
      font-family: algerian;
      font-size: 300%;
      text-align: center;
      border: 10px solid green;
      padding: 20px;
      margin-left: 350px;
      margin-right:350px;
  }
  h2 {color:white;
      font-family: mistral;
      font-size: 270%;
      text-align: center;
  }
  img {display: block;
       margin-right: auto;
       margin-left: auto;
  }
  ul {color: white;
      font-family: papyrus;
      font-size: 150%;
      text-align: center;
  }
  
  body {background-color: black;}
  
</style>
  <%= link_to 'About', about_path %>
  <h1>
    Welcome: Step Into My Office
  </h1>
  <br>
  <img src="https://www.dalipaintings.com/images/paintings/the-persistence-of-memory.jpg" alt= "www.dalipaintings.com" width= 600px height= 500px>
  <p style="color:white; text-align:center;">
    <cite>The Persistence of Memory</cite> by Salvador Dali. Painted in 1931.
  <h2>
    What You Should Expect to Find Here:
  </h2>
  <ul>
    <li>Free-verse Lyrics</li>
    <li>Short Stories</li>
    <li>Poems</li>
    <li>Nuclear Thoughts</li>
  </ul>
</body>


