<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://bryansblog.herokuapp.com/">Bryan's Blog</a>
        by <a href="http://bryansblog.herokuapp.com/"> Bryan Mayorga</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>